{% extends 'base.html' %}
{% load static %}

{% block content_wrapper %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Polls Index Page</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Polls</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
                <div id="like_button_container2"></div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </p>
                <div id="registration_form"></div>

{#                <form id="registration_form1" class="form" method="get" action="">#}
{#                  {{ form.non_field_errors }}#}
{#                  <div class="row">#}
{#                    {% for each in form %}#}
{#                      <div class="col-lg-3 col-md-3">#}
{#                        <div class="form-group">#}
{#                          <em class="text-red">{{ each.errors }}</em>#}
{#                          <label for="{{ each.id_for_label }}">{{ each.label }}</label>#}
{#                          {% if each.help_text %}#}
{#                            <span style="border-bottom: 1px dotted black;" data-toggle="tooltip" data-placement="top"#}
{#                                  title="{{ each.help_text }}">Help</span>#}
{#                          {% endif %}#}
{#                          {{ each }}#}
{#                        </div>#}
{#                      </div>#}
{#                    {% endfor %}#}
{#                  </div>#}
{#                  <button type="submit" class="btn btn-primary" name="action" value="search">Next</button>#}
{#                  <button type="submit" class="btn btn-primary" name="action" value="search">Search</button>#}
{#                </form>#}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'dist/js/registration_form.js' %}" type="text/babel"></script>
{% endblock %}