{% extends 'base.html' %}
{% load static %}

{% block content_wrapper %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Polls Index Page</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Polls</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Registration</h5>
                <p class="card-text">
                  Fill in neccessary info and submit.
                </p>
                {% csrf_token %}
                <div id="registration_form"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'dist/js/csrftoken.js' %}" type="text/babel"></script>
  <script src="{% static 'dist/js/registration_form.js' %}" type="text/babel"></script>
{% endblock %}